<ion-header>
  <ion-toolbar>
      <ion-title style="width: 100%; text-align: center; color:#1CC3AF">
        <ion-icon name="person"></ion-icon>
        Login
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <img class="icon" src="assets/icon/iconSound.png" alt="">
  <ion-item >
    <ion-label color="light" position="floating">Usuario</ion-label>
    <ion-input color="light" [(ngModel)]="usuario" type="text" name="usuario"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label color="light" position="floating">Contraseña</ion-label>
      <ion-input color="light" [(ngModel)]="password" type="password" name="password"></ion-input>
  </ion-item>
  <br>
  <ion-button (click)="OnSubmitLogin()" color="light" expand="block" fill="outline">
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      Ingresar
  </ion-button>
</ion-content>
