<ion-header>
  <ion-toolbar>
    <ion-title style="width: 100%; text-align: center; color:#1CC3AF">
        <ion-icon name="pulse"></ion-icon>
      Ruidox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>

  <ion-text color="light">
    <h2 style="width: 100%; text-align: center;">{{this.db}} Db</h2>
  </ion-text>
  <br>
  <ion-text color="light">
      <h2 style="width: 100%; text-align: center;">Latitud: {{lat}} Longitud: {{lon}}</h2>
  </ion-text>
  <br>
  <ion-button id="capturar" onclick="control1()" (click)="switchDb()" (click)="getGeolocation()"color="light" expand="block" fill="outline">
    <ion-icon slot="start" name="play"></ion-icon>
    Capturar
  </ion-button>
  <ion-button id="enviar" onclick="control2()" (click)="dbMeter.stop()" (click)="postRequest()"  color="light" expand="block" fill="outline">
    <ion-icon slot="start" name="send"></ion-icon>
    Enviar
  </ion-button>
  <ion-button  routerLink="/login" id="salir" color="light" expand="block" fill="outline">
      <ion-icon slot="start" name="exit"></ion-icon>
      Salir
   </ion-button>
</ion-content>
